@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #FF1F2E;
  --color-secondary: #fff;
  --color-dark: #fff;
  --color-light: #fff;

  --td: 150ms;
  --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  font-family: 'Outfit', sans-serif;
}

.bg-white + footer {
  border-top: solid 1px #C7C7C7;
  padding-top: 5rem;
}


/* Dropdown */

.dropdown .dropdown-options {
  height: auto;
  transition: height;
  duration: 1s;
}

.dropdown-closed .dropdown-options {
  height: 0;
}


/* WYSIWYG Colour Highlights */

.highlight-red span {
  color: #FF1F2E;
}

.highlight-blue span {
  color: #8094D1;
}


/* Background Icon Sets */

.bg-icons {
  background-repeat: no-repeat;
}

@media screen and (max-width: 639px) {
  .bg-icons {
    background-blend-mode: soft-light;
  }
}

.bg-icons-1 {
  background-image: url('../images/bg-icons-1.png');
  background-position: right -135px;
}

.bg-icons-2 {
  background-image: url('../images/bg-icons-2.png');
  background-position: right -35px;
}

.bg-icons-3 {
  background-image: url('../images/bg-icons-3.png');
  background-position: right 270px;
}

.bg-icons-4 {
  background-image: url('../images/bg-icons-4.png');
  background-position: left center;
}

.bg-icons-5 {
  background-image: url('../images/bg-feature.png');
  background-position: right top;
  background-repeat: no-repeat;
}

.bg-icons-4.bg-icons-5 {
  background-image: url('../images/bg-feature.png'), url('../images/bg-icons-4.png');
  background-position: right top, left bottom;
}


/* Social icons */

.social-icon, .social-icon-white {
  background-size: contain;
  content: '';
  display: inline-block;
  height: 28px;
  width: 28px;
}

.social-icon.social-icon--instagram { background-image: url('../images/social-instagram.svg'); }
.social-icon.social-icon--twitter   { background-image: url('../images/social-twitter.svg'); }
.social-icon.social-icon--linkedin  { background-image: url('../images/social-linkedin.svg'); }
.social-icon.social-icon--vimeo     { background-image: url('../images/social-vimeo.svg'); }

.social-icon-white.social-icon--instagram { background-image: url('../images/social-instagram-white.svg'); }
.social-icon-white.social-icon--twitter   { background-image: url('../images/social-twitter-white.svg'); }
.social-icon-white.social-icon--linkedin  { background-image: url('../images/social-linkedin-white.svg'); }
.social-icon-white.social-icon--vimeo     { background-image: url('../images/social-vimeo-white.svg'); }

/* Buttons */

button, .button {
  border: solid 1px #C2C2C2;
  color: #FFEBE8;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1.4rem;
  padding: 1rem 1.4rem;
  transition: 0.5s;
}

.play-button {
  border-radius: 100%;
  color: #FF1F2E;
  width: 57px;
}

.slide:hover, .slide:focus {
  border-color: #FF1F2E !important;
  box-shadow: inset 12rem 0 0 0 #FF1F2E;
  color: #fff !important;
}

.bg-white button, .bg-white .button {
  border-color: #000;
  color: #000;
}

.arrow {
  min-width: 186px;
  padding-right: 56px;
  position: relative;
  text-align: left;
}

.arrow::after {
  content: '';
  background-image: url('../images/button-arrow.svg');
  background-size: contain;
  height: 20px;
  opacity: 1;
  position: absolute;
  right: 18px;
  top: 19px;
  transition: 0.5s;
  width: 20px;
}

.arrow:hover::after {
  opacity: 0;
}

.bg-white button.arrow::after, .bg-white .button.arrow::after {
  background-image: url('../images/button-arrow-dark.svg');
}


/* Play Button */

.play {
  background: rgba(45, 45, 45, 0.4);
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}

.play:hover {
  opacity: 1;
}

.play::after {
  background: url('../images/play.png') no-repeat center;
  background-size: 120px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}


/* Curves */

.curve {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

@media screen and (max-width: 639px) {
  .curve {
    left: -20%;
    width: 140%;
  }
}

.curve svg {
  position: relative;
  display: block;
  left: -10%;
  width: 120%;
  height: 100px;
}


/* Swiper */

.swiper {
  overflow: visible !important;
}


/* Overwrites */

.tracking-title {
  letter-spacing: 5.5px;
}

.tracking-subtitle {
  letter-spacing: 2px;
}

.bg-white.py-20 + .bg-white.py-20 {
  padding-top: 0 !important;
}


/* Colour palette */

.bg-dark-100 {
  background-color: rgba(21, 21, 21, 1);
}

.bg-offwhite {
  background-color: #F6F4F3;
}

.bg-red {
  background-color: #FF1F2E;
}

.text-offwhite {
  color: rgba(255, 235, 232, 0.5);
}

.text-white {
  color: #F0F0F0 !important;
}

.text-red {
  color: #FF1F2E !important;
}

.border-red {
  border-color: #FF1F2E;
}

/* Ordered lists */

ol {
  counter-reset: item;
}

ol li {
  counter-increment: item;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  padding-left: 5rem;
}

ol li:before {
  font-size: 3rem;
  display: inline-block;
  content: counter(item);
  color: #FF1F2E;
  font-weight: 500;
  position: relative;
  top: 1.25rem;
  width: 5rem; /* Also needed for space (tweak if needed) */
  margin-left: -5rem; /* Also needed for space (tweak if needed) */
}


/* Slide toggle */

.service:not(.active) {
  display: none;
}


/* Post content */

.post-content {
  color: #808080;
}

.post-content > *:not(button) {
  font-size: 1.3125rem;
  line-height: 1.9375rem;
  margin-bottom: 2rem;
}

.post-content > *:not(button):last-child {
  margin-bottom: 0 !important;
}

.post-content p {

}

.post-content.post-content-intro p:first-child {
  color: #222;
  font-size: 1.625rem;
  line-height: 2.125rem;
}

.post-content ul, .post-content ol {
  font-size: 1.125rem;
  line-height: 2.53125rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
}

.post-content ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.post-content blockquote, .post-content blockquote p {
  color: #FF1F2E !important;
  text-align: center;
  font-size: 2.6875rem !important;
  line-height: 3.375rem !important;
}

.post-content img {
  border-radius: 2rem;
  margin: 3rem auto 3.5rem;
}

.post-content p:first-child *:first-child {
  margin-top: 0;
}

.post-content h1, .post-content h2, .post-content h3 {
  color: #222;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.625rem;
}

.post-content h4, .post-content h5, .post-content h6 {
  color: var(--dark-grey, #222);
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.625rem;
}


/* Popover navigation */

.nav-main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  right: -100%;
  position: fixed;
  transition: left 0s calc(var(--td) * 2), transform 0s calc(var(--td) * 2);
  width: 100%;
  z-index: 40;
}
.nav-main::before, .nav-main::after {
  content: "";
  background-color: var(--color-primary);
  height: 50%;
  right: 0;
  position: absolute;
  transform: translateX(110%);
  transform-origin: 0 50%;
  transition: transform calc(var(--td) * 2) var(--td) var(--te);
  width: 100%;
  z-index: -100;
}
.nav-main::before {
  top: 0;
}
.nav-main::after {
  bottom: 0;
}
.nav-main .menu__item, .nav-main .menu__meta, .nav-main .menu__logo {
  opacity: 0;
  transform: translateX(-1rem);
  transition: opacity var(--td) var(--te), transform var(--td) var(--te);
}

[id=main-navigation-toggle] {
  opacity: 0;
  position: fixed;
  top: -100%;
}
[id=main-navigation-toggle] ~ label {
  cursor: pointer;
}

[id=main-navigation-toggle]:checked ~ .nav-main {
  left: 0;
  transition: transform 0s;
}
[id=main-navigation-toggle]:checked ~ .nav-main::before, [id=main-navigation-toggle]:checked ~ .nav-main::after {
  transform: translateX(0);
  transition-delay: 0s;
}
[id=main-navigation-toggle]:checked ~ .nav-main::after {
  transition-delay: calc(var(--td) / 2);
}
[id=main-navigation-toggle]:checked ~ .nav-main .menu__item,
[id=main-navigation-toggle]:checked ~ .nav-main .menu__meta,
[id=main-navigation-toggle]:checked ~ .nav-main .menu__logo
 {
  opacity: 1;
  transform: translateX(0);
  transition: opacity calc(var(--td) * 2) var(--te), transform calc(var(--td) * 2) var(--te);
}
[id=main-navigation-toggle]:checked ~ .nav-main .menu__item:nth-child(1) {
  transition-delay: calc(var(--td) * 2 * (1 * 0.25));
  z-index: -1;
}
[id=main-navigation-toggle]:checked ~ .nav-main .menu__item:nth-child(2) {
  transition-delay: calc(var(--td) * 2 * (2 * 0.25));
  z-index: -2;
}
[id=main-navigation-toggle]:checked ~ .nav-main .menu__item:nth-child(3) {
  transition-delay: calc(var(--td) * 2 * (3 * 0.25));
  z-index: -3;
}
[id=main-navigation-toggle]:checked ~ .nav-main .menu__item:nth-child(4) {
  transition-delay: calc(var(--td) * 2 * (4 * 0.25));
  z-index: -4;
}
[id=main-navigation-toggle]:checked ~ .nav-main .menu__item:nth-child(5) {
  transition-delay: calc(var(--td) * 2 * (5 * 0.25));
  z-index: -5;
}
[id=main-navigation-toggle]:checked ~ .nav-main .menu__item:nth-child(6) {
  transition-delay: calc(var(--td) * 2 * (6 * 0.25));
  z-index: -6;
}
[id=main-navigation-toggle]:checked ~ .nav-main .menu__meta {
  transition-delay: calc(var(--td) * 2 * (5 * 0.25));
}
[id=main-navigation-toggle]:checked ~ .nav-main .menu__logo {
  transition-delay: calc(var(--td) * 2 * (1 * 0.25));
}

.menu {
  position: relative;
  z-index: 1;
}

.menu__item {
  display: block;
  position: relative;
}
.menu__item:hover .menu__link::before, .menu__item:hover .menu__link::after {
  transform: translateX(calc(100% - 0.5rem));
  transition-duration: calc(var(--td) * 3);
}
.menu__item:hover .menu__link::after {
  transition-delay: calc(var(--td) / 2);
}
.menu__item:hover .submenu {
  opacity: 1;
  transform: translateY(0);
  transition: transform calc(var(--td) * 2) calc(var(--td) * 3) var(--te), opacity calc(var(--td) * 2) calc(var(--td) * 3) var(--te), visibility 0s calc(var(--td) * 3);
  visibility: visible;
}

.menu__link {
  color: var(--color-dark);
  display: inline-block;
  font-weight: normal;
  line-height: 1.1;
  overflow: hidden;
  padding: 0.5rem 1rem 0.125rem;
  position: relative;
  text-decoration: none;
  transition: color var(--td) var(--te), opacity var(--td) var(--te), transform var(--td) var(--te);
  z-index: 1;
}
.menu__link::before, .menu__link::after {
  content: "";
  background-color: var(--color-light);
  height: 50%;
  left: 0;
  position: absolute;
  transform: translateX(-110%);
  transform-origin: 0 50%;
  transition: transform 0s var(--te);
  width: 100%;
  z-index: -1;
}
.menu__link::before {
  top: 0;
}
.menu__link::after {
  bottom: 0;
}

.menu:not(:focus-within):not(:hover) .menu__item .menu__link {
  opacity: 1;
  transform: translate(0, 0);
}

.menu__item {
  --pull: 30%;
}
.menu__item .menu__link {
  opacity: 0.25;
  transition-duration: calc(var(--td) * 3);
  transform: translate(0, calc(var(--pull) * -1));
}
.menu__item .submenu .menu__link {
  opacity: 1;
}
.menu__item:hover > .menu__link {
  color: var(--color-secondary);
  opacity: 1;
  transform: translate(0, 0);
}
.menu__item:hover > .menu__link:hover {
  color: var(--color-light);
  transition-delay: 0s;
}
.menu__item:hover ~ .menu__item > .menu__link {
  transition-duration: calc(var(--td) * 3);
  transform: translate(0, var(--pull));
}


/* Forms */
.wpcf7-not-valid-tip {
  display: none !important;
}

@layer forms {
  .form-row {
    @apply flex flex-row rounded-md space-x-5 px-5 py-2 mb-4 ring-inset focus-within:ring-2 focus-within:ring-white;
    background: rgba(217, 217, 217, 0.10);
  }

  .form-row label {
    @apply w-24 block text-white font-semibold;
  }

  .form-row label em {
    @apply text-red;
  }

  .form-row input, .form-row textarea {
    @apply !block !w-full !border-0 !p-0 !text-gray-100 placeholder:!text-gray-500 focus:!ring-0 !bg-transparent focus:!outline-none !leading-loose;
  }

  .form-row input {

  }

  .form-row textarea {
    @apply !resize-none;
  }

  .form-row input.wpcf7-not-valid::placeholder, .form-row textarea.wpcf7-not-valid::placeholder {
    color: #FF1F2E !important;
  }

  .form-row input:-webkit-autofill,
  .form-row input:-webkit-autofill:hover,
  .form-row input:-webkit-autofill:focus,
  .form-row input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
  }

  .form-row br {
    display: none;
  }

  .form-row > p {
    @apply flex w-full;
  }

  .wpcf7-submit {
    @apply slide arrow;
    float: right;
  }

  .wpcf7-response-output {
    clear: both;
    color: white;
    margin: 0 !important;
    padding: 0.5rem 1rem !important;
    position: relative !important;
    top: 1rem !important;
  }

  .wpcf7-spinner {
    float: right !important;
    margin: 1rem 2rem 0 !important;
  }
}

/* Vimeo video wrapper */

.vimeo-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
